{% extends 'match/base.html' %}
{% load static %}
{% block title %} Questions {% endblock %}
{% block content %}
	<body class="bg-gradient-primary">

	  <div class="container">

	    <div class="card o-hidden border-0 shadow-lg my-5">
	      <div class="card-body p-0">
	        <!-- Nested Row within Card Body -->
	        <div class="row">
	        	<div class="container pl-5 pt-4">
	        		
		         	 <h3 class="text-dark">{{ question.question_text }}</h3>	
						<form class="needs-validation" method="POST" novalidate="True">{% csrf_token %}
						<div class="form-group">
						{% for choice in question.choice_set.all %}
							<div class="custom-control custom-radio mb-3">
							    <input type="radio" class="custom-control-input" id="choice{{ forloop.counter }}" name="choice" value="{{ forloop.counter }}" required>
							    <label class="custom-control-label text-dark" for="choice{{ forloop.counter }}">
							    {{ choice.choice_text }}
							</label>
							    <div class="invalid-feedback">Please select one of these.</div>
							  </div>

							<!-- <input type="radio" name="choice" id="{{ forloop.counter }}" value="{{ forloop.counter }}">
							<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br> -->
						{% endfor %}
						</div>	
						<div class="form-group">
							<h3 class="text-dark">How do you want your Match to answer?</h3>
						    <div class="form-check">
						     <select class="selectpicker" name="acceptableAnswer" multiple data-width="fit" required>
						     	{% for choice in question.choice_set.all %}
						     		<option value="{{ forloop.counter }}">{{ choice.choice_text }}</option>
						     	{% endfor %}
						     </select>
						     <small id="passwordHelpBlock" class="form-text text-muted">
								  You can select more than one options.
							 </small>
						    </div>
						</div>

						<div class="form-group">
			         	 <h3 class="text-dark">How important is this question to you ?</h3>	
							{% for importance in importances %}
								<div class="custom-control custom-radio mb-3">
								    <input type="radio" class="custom-control-input" id="importance{{ forloop.counter }}" name="importance" value="{{ forloop.counter }}" required>
								    <label class="custom-control-label text-dark" for="importance{{ forloop.counter }}">
								    {{ importance }}
									</label>
								    <div class="invalid-feedback">Please select one of these.</div>
								</div>
							{% endfor %}
						</div>	
						<input class="btn btn-primary float-right mb-3" type="Submit" value="Next" name="Next">
					</form>

	          
	        </div>
	    </div>
	      </div>
	    </div>

	  </div>

	  <script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	</script>
</body>
{% endblock %}



<