{% extends 'match/base.html' %}
{% load static %}
{% block title %} Your Hobbies {% endblock %}
{% block content %}
<body class="bg-gradient-primary">
	<div class="container">
		<div class="card  border-0 p-3 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="container">	
						<form class="needs-validation" method="POST" novalidate="True">{% csrf_token %}
							{% for field in form.visible_fields %}
								<div class="form-group border-info">
									<div class="rounded border-info  mt-2 shadow h-100 py-1">
										<label class="text-dark col-sm-2 col-form-label">{{ field.label }} </label>
										{{ field }}
									</div>
					 			</div>
							{% endfor %}
							<button type="submit" class="btn mb-2 btn-outline-primary float-right">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	</script>
</body>
{% endblock %}

